.contador {

}

.contador p{
    font-size: 100px;
    margin: 0;
    color: white;
}

@media ( min-height: 500px) and (max-height: 800px) {
    .contador p{
        font-size: 60px;
        margin: 0;
        color: white;
    }
}