.boton {
    height: 50px;
    width: 120px;
    border-radius: 10px;
    background-color:#f8f4f5;
    cursor: pointer;
    display: grid;
    align-items: center;
    justify-items: center;
    font-size: 20px;
    -webkit-box-shadow: 0px 3px 4px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 3px 4px -1px rgba(0,0,0,0.75);
    box-shadow: 0px 3px 4px -1px rgba(0,0,0,0.75);

}

.boton p{
    color: rgb(0, 0, 0);
    font-weight: 600;
    margin: 0;
    font-size: 18px;
}

@media ( min-height: 500px) and (max-height: 800px) {
    .boton {
        height: 40px;
        width: 100px;
        border-radius: 10px;
        cursor: pointer;
        display: grid;
        align-items: center;
        justify-items: center;
        font-size: 15px;
    
    }

    .boton p{
        font-size: 14px;
    }
}

@media (max-width: 900px)  {
    .boton{
        width: 65px;
    }

    .boton p {
        font-size: 11px;
        font-weight: 600;
    }
}